@model List<HomeModel>;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <div class="row justify-content-center">

        <div class="text-center mt-4">
            <h1>
                INGRESO DE PARTICIPANTES
            </h1>
        </div>


        <div class="col-8 mt-2">
            <!-- For necesario para recorrer el modelo y asigarselo a los campos -->

                <form asp-action="guardarParticipante" method="post" class="p-3 border border-light rounded">
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <div class="ms-2 ">
                            <label class="my-2">Nombre</label>
                            <input type="text" name="@($"[{i}].Nombre")" class="form-control mb-2" /> 
                        </div>

                        <div class="ms-2 ">
                            <label class="my-2">Apellido</label>
                            <input type="text" name="@($"[{i}].apellido")" class="form-control mb-2" /> <!-- Esta es la forma correcta de asignar un campo del modelo a un input -->
                        </div>

                        <div class="ms-2 ">
                            <label class="my-2">Correo</label>
                            <input type="text" name="@($"[{i}].correo")" class="form-control mb-2" />
                        </div>

                        <div class="ms-2 ">
                            <label class="my-2">Celular</label>
                            <input type="text" name="@($"[{i}].celular")" class="form-control mb-2" /> 
                        </div>

                    }

                    <button type="submit" class="btn btn-primary my-3"> Ingresar</button>

                </form>
                


        </div>

    </div>
</div>

